<div class="container mt-4">
  <div><h1 class=" violet-text mb-4">Lista de Billeteras Electrónicas:</h1></div>
    <p class="texto-negrita"> Cantidad de Billeteras Electrónicas: {{ dataSource.data.length }} </p>
    <button class="btn btn-primary align-icon-text" [routerLink]="['/billeteraselectronicas/nuevo']">
      <mat-icon class="position-icon">add</mat-icon> Nueva Billetera Electrónica
    </button>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="table table-bordered border-primary table table-striped table-hover">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">ID</th>
        <td mat-cell *matCellDef="let element" class="columna-text-celdas-center columna-text-celdas">{{ element.idBilleteraElectronica }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Compañia">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Compañia</th>
        <td mat-cell *matCellDef="let element" class="columna-text-celdas">{{ element.companiaBilleteraElectronica }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Imagen QR">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Imagen QR</th>
        <td mat-cell *matCellDef="let element" class="columna-text-celdas">{{ element.imagenQRBilleteraElectronica }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Evidencia">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Evidencia</th>
        <td mat-cell *matCellDef="let element" class="columna-text-celdas">{{ element.evidenciaBilleteraElectronica }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Pago">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Pago</th>
        <td mat-cell *matCellDef="let element" class="columna-text-celdas">{{ element.pagos.tipoPago }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container *ngIf="!esJoven()" matColumnDef="Actualizar">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Actualizar</th>
        <td mat-cell *matCellDef="let element" class="celda-boton-editar">
          <button class="btn btn-primary2" [routerLink]="['ediciones', element.idBilleteraElectronica]">
            <mat-icon class="color-icon-editar">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="!esJoven()" matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef class="columna-text-celdas-center columna-text">Eliminar</th>
        <td mat-cell *matCellDef="let element" class="celda-boton-editar">
          <button class="btn btn-primary3" (click)="eliminar(element.idBilleteraElectronica)">
            <mat-icon class="color-icon-editar">delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </div>
</div>

